{% include 'home.html' %}

<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="countdown shadow clearfix">
        <div class="card text-center ">
          <div class="row">
            <div class="col-4  box-count bord-right mt-2">
              <h5>Total Events Created</h5>
              <p class="figure-number">{{ event_count }}</p>
            </div>
            <div class="col-4  box-count bord-right mt-2">
              <h5>Total Tickets Purchased</h5>
            </div>
            <div class="col-4  box-count mt-2"><h5>Total Sponsors</h5></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-space">
    {% for e in events %}

    <div class="col-4">
      <div class="card mb-3">
        <img class="card-img-top" src="{{ e.img_link }}" alt="Card image cap" />
        <div class="card-title ml-3 mt-2">
          <h5>{{ e.title }}</h5>
        </div>
        <div class="card-body">
           <p> {{e.venue.venuename}}</p>
          <p class="card-text">Organizer: {{ e.event_owner }}</p>
          <p class="card-text">Event Type: {{ e.type.event_type }}</p>
        </div>
        <div class="card-footer">
          <figure>
            <div class="day-display">
              FEB
            </div>
            <div class="date-display">
              22
            </div>
          </figure>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
