{% extends "layout.html" %} 

{% block content %}

<div class="nav-img">
  <header>
    <div class="container">
      <div class="row pt-3">
        <div class="logo col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <img class="img-responsive" src="../static/logo.png" alt="image" />
          <span class=" ml-3 text-white">EVENTS COMMUNITY</span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
          <nav class="navbar navbar-expand-lg">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="text-white">
                Navigation <i class="fas fa-bars"></i
              ></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
              <ul class="nav nav-pills mainnav ">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >MENU</a
                  >
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">PRICING</a>
                    <a class="dropdown-item" href="#">SPONSOR</a>
                    <a class="dropdown-item" href="#">CONTACT US</a>
                   

                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >NEWS</a
                  >
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Recently Added</a>
                    <a class="dropdown-item" href="#">Most Viewed</a>
                    <a class="dropdown-item" href="#">Highlights</a>
                    <div class="dropdown-divider"></div>
                    <form class="form-inline my-2 my-lg-0">
                      <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                      />
                    </form>
                  </div>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">GALLERY</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('events.list') }}">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('events.add') }}" class="btn-create font-weight-bold">
                        CREATE EVENTS</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link"
                    href="{{ url_for('account.logout') }}">
                    <button
                    class="btn-sign font-weight-bold"
                    data-toggle="modal"
                    data-target="#exampleModalLong"
                  >
                    LOGOUT
                    </button>
                  </a>
                </li>
                {% else %}
                <!-- <li><a href="{{url_for('account.login')}}">Login <span class="sr-only">(current)</span></a></li> -->
                <li class="nav-item">
                  <button
                    type="button"
                    class="btn-sign font-weight-bold"
                    data-toggle="modal"
                    data-target="#exampleModalLong"
                  >
                    LOGIN
                  </button>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModalLong"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLongTitle"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form class="border-input" method="POST">
                            <div class="form-group font-weight-bold">
                              {{ form.email.label }}
                              <div class="input-wrapper">
                                <!-- <input class="form-control spacing" type="text"
                                                                                placeholder="Please input Event Title"> -->
                                <div class="form-control spacing  mb-2">
                                  {{ form.email() }}
                                </div>
                                <label
                                  for="stuff"
                                  class="fas fa-envelope input-icon"
                                ></label>
                              </div>
                              {{ form.password_hash.label }}
                              <div class="input-wrapper">
                                <!-- <input class="form-control spacing my-2" type="text"
                                                                                placeholder="Please input Event Venue">
                                                                            <label for="stuff" class="fas fa-building input-icon"></label> -->
                                <div class="form-control spacing">
                                  {{ form.password_hash() }}
                                </div>

                                <label
                                  for="stuff"
                                  class="fas fa-lock input-icon"
                                ></label>
                              </div>
                            </div>
                            <a href="{{ url_for('account.add') }}">
                              "Sign Up here if you don't have account yet"
                            </a>
                            <div class="modal-footer text-center">
                              {{ form.submit() }}
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                {% endif %}
                
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container text-center text-white mt-5">
    <h3>FIND YOUR FARVORITE EVENTS HERE</h3>
    <div class="wrap">
      <div class="search">
        <input
          type="text"
          class="searchTerm"
          placeholder="What are you looking for?"
        />
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="container  mt-5">
      <div class="row">
        <div class="col-3">
        <div class="form-group">
          <select class="custom-select" required>
            <option value="">All Location</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div class="invalid-feedback">Example invalid custom select feedback</div>
        </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <select class="custom-select" required>
              <option value="">All Event Type</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <select class="custom-select" required>
              <option value="">All Date</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <select class="custom-select" required>
              <option value="">All Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>
      </div>
      </div>
</div>


{% endblock %}
