.bg-img{
background-image: url("btn-bg.png");
height: 100%;
width:100%;
background-position: center;
background-repeat: no-repeat;

  
  /* Needed to position the navbar */
  position: relative;
}

.nav-pills .nav-link{
    color:white!important;
    background:none!important;
}
.nav-pills{
 float: right !important;
}
.btn-create {
color:white!important;
background-color:rgba(1, 7, 11, 0.317)!important;
border-color: white!important;
}
.modal-footer {
    justify-content: center!important;
    background-color: black !important;
}

.btn-sign{
  color:#ffb503!important;
  background: transparent;
border-color:1px #ffb503!important;
font-size: 12px;
border-radius: 80%;
}
.btn-primary{
    border:none !important;
    background: none !important;
}
.input-icon{
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  margin-right:10px;
}

.input-wrapper{
  position: relative;
}
.spacing{
    padding-left:30px!important;
   
}
.border-input{
border:solid rgb(0, 0, 2) 2px!important;

}


.modal-title{
   align-items: center!important;

}
.date-time-icon{
    margin-top:12px;
}
#description, #location, #venue_name, #title, #venue, #email, #name, #phonenumber, #password_hash {
  border:none!important;
  width: 100%!important;
}

#submit{
color:white!important;
background-color:transparent!important;
size:20px!important;
}
.nav-img{
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url("nav-img.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:500px;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}
body{
background: linear-gradient(to left, rgb(36, 1, 43), rgb(255, 175, 3)); 

  /* background-color: rgba(19, 1, 1, 0.959);
  background-repeat: no-repeat;
  /* background-image: url("covers.png"); */
  
  /* background-position: center center;
  width: 100%;
  
  opacity: 1;
  visibility: inherit;
  z-index: 20; */ */
}


.extra{
  margin-top:20px !important;
}


header.logo{
  padding-top:20px;
 
 
}

header.header-fixed {
    
    top: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.842);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar{
  float:right !important;
  
}

.search {
  width: 50%;
  text-align: center;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ffb503;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ffb503;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffb503;
  background: #ffb503;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    padding-left: 34%;
    padding-top: 3%;
}

#submit{
  border:none!important;
  font-size: 20px;
}