.bg-img{
background-image: url("btn-bg.png");
height: 100%;
width:100%;
background-position: center;
background-repeat: no-repeat;

  
  /* Needed to position the navbar */
  position: relative;
}

.nav-pills .nav-link{
    color:white!important;
    background:none!important;
}
.nav-pills{
 float: right !important;
}
.btn-create {
color:white!important;
background-color:rgba(1, 7, 11, 0.317)!important;
border-color: white!important;
}
.modal-footer {
    justify-content: center!important;
    background-color: black !important;
}

.btn-sign{
  color:#ffb503!important;
  background: transparent;
border-color:1px #ffb503!important;
font-size: 12px;
border-radius: 80%;
}
.btn-primary{
    border:none !important;
    background: none !important;
}
.input-icon{
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  margin-right:10px;
}

.input-wrapper{
  position: relative;
}
.spacing{
    padding-left:30px!important;
   
}
.border-input{
border:solid rgb(0, 0, 2) 2px!important;

}


.modal-title{
   align-items: center!important;

}
.date-time-icon{
    margin-top:12px;
}
#description, #location, #venue_name, #title, #venue, #email, #name, #phonenumber, #password_hash {
  border:none!important;
  width: 100%!important;
}

#submit{
color:white!important;
background-color:transparent!important;
size:20px!important;
}
.nav-img{
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url("nav-img.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:500px;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}
body{
background: rgb(255, 255, 255);
/* background: linear-gradient(0deg, rgba(255,166,0,1) 0%, rgba(0,0,0,1) 52%, rgba(29,6,6,1) 100%);  /* background-color: rgba(19, 1, 1, 0.959); */
  /* background-repeat: no-repeat; */
  /* background-image: url("covers.png"); */
  
  /* background-position: center center;
  width: 100%;
  
  opacity: 1;
  visibility: inherit;
  z-index: 20; */ */
}


.extra{
  margin-top:20px !important;
}


header.logo{
  padding-top:20px;
 
 
}

header.header-fixed {
    
    top: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.842);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar{
  float:right !important;
  
}

.search {
  width: 50%;
  text-align: center;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ffb503;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ffb503;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffb503;
  background: #ffb503;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    padding-left: 34%;
    padding-top: 3%;
}

#submit{
  border:none!important;
  font-size: 20px;
}
.countdown {
    padding: 18px 15px!important;
    border-radius: 5px!important;
    margin-top: -80px!important;
    margin-left: 100px !important;
    position: absolute!important;
    overflow: hidden!important;
    width: 100%!important;
    background-color:rgba(204, 150, 0, 0.397);
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.countdown:before {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
  
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
    content: "" !important;
}
.custom-select{
  color: #dbd7d7!important;
  background-color: #ffffff00!important;
    border: 1px solid #ffb503!important;
    border-radius: .25rem!important;
}
.top-space{
  margin-top:100px!important;
}
.card{
  height:100%;
}
.card-img-top{
height:230px;
}

.box-count{
  min-height: 100px !important;
  
  background-color: transparent!important;
}
.figure-number{
  font-size:30px;
}
.bord-right{
    border-right: 2px solid #ffb503!important;
}
.card{
background-color: #fffefedc !important;
    background-clip: border-box !important;
    border: 1px solid #ffb503 !important;
}

figure {
	
	width: 50px;
	height: 57px;
	
	background-color: #fcfcf9;
	border-radius: 10px;
  margin-left:80%!important;
  margin-top: 0% !important;
    margin-bottom: 0%!important;
  
	position: relative;
}
	figure:before {
		
		display: block;
		
		width:128px;
		height: 69px;
		
		border-radius: 10px 10px 0 0;
		
		

	}
	
	.day-display {
		width: 50px;
		height: 20px;
		
		position: absolute;
		top: -1px;
		
		background-color: #fa565a;
		border-radius: 10px 10px 0 0;
		border-bottom: 3px solid #e5e5e5;
		
		font: 400 10px/20px Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: #fff;
		
		text-align: center;
	}
	
	.date-display {
		width: 53px;
		height: 45px;
		
		position: absolute;
		top: 28px;
		
		font: 400 19px/10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		
		color: #4c566b;
		
		text-align: center;
		
		z-index: 10;
  }
		.date-display:before {
			
			display: block;
			
			position: absolute;
			top: 35px;
						
			width: 3px;
			height: 10px;
			
			
		}
		
  .date-display:after {
			
			display: block;
			
			position: absolute;
			top: 35px;
			right: 0;
						
			width: 3px;
			height: 10px;
			
		}
    
.card-footer{
  background-color:rgb(255, 177, 0)!important;
}

		
